# Server
PORT=3000
JWT_SECRET=

# Database
DB_HOST=postgres
DB_PORT=5432
DB_NAME=green_energy
DB_USER=postgres
DB_PASSWORD=postgres

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

FRONTEND_URL=http://localhost:5500

#Forget Password
EMAIL_USER=
EMAIL_PASS=

#Power Simulator
SIMULATOR_EMAIL=your@email.com
SIMULATOR_PASSWORD=yourpassword